
:root {
  --olive: #314528;
  --olive-light: #4a5d3d;
  --beige-light: #f3f4e7;
  --beige-medium: #d1d3c4;
  --beige-dark: #b8baaa;
  --white: #ffffff;
  --error: #d32f2f;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  color: var(--olive);
  background-color: var(--beige-light);
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: var(--olive-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4f5d49;
}

.page {
  background-color: #f1f5f9;
  min-height: 100vh;
}
/* Start Box */
.d-flex {
  display: flex;
}
.f-wrap {
  flex-wrap: wrap;
}
.align-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.d-grid {
  display: grid;
}
.gap-20 {
  gap: 20px;
}
.d-block {
  display: block;
}
@media (max-width: 767px) {
  .block-mobile {
    display: block;
  }
  .hide-mobile {
    display: none;
  }
}
/* End Box */
/* Start Padding + Margin */
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-15 {
  padding-top: 15px;
}
.pt-20 {
  padding-top: 20px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pl-15 {
  padding-left: 15px;
}
.m-0 {
  margin: 0;
}
.m-15 {
  margin: 15px;
}
.m-20 {
  margin: 20px;
}
.mt-0 {
  margin-top: 0;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-25 {
  margin-bottom: 25px;
}
/* End Padding + Margin */
/* Start Color */
.c-black {
  color: black;
}
.c-beige {
  color: var(--beige-color);
}
.c-grey {
  color: var(--grey-color);
}
.c-red {
  color: var(--red-color);
}
.c-green {
  color: var(--green-color);
}
.c-blue {
  color: var(--blue-color);
}
.c-orange {
  color: var(--orange-color);
}
.c-olive{
  color: #314528;
}
.bg-red {
  background-color: var(--red-color);
}
.bg-green {
  background-color: var(--green-color);
}
.bg-olive {
  background-color: var(--olive);
}
.bg-orange {
  background-color: var(--orange-color);
}
.bg-white {
  background-color: white;
}
.bg-eee {
  background-color: #eee;
}
/* End Color */
/* Start Position */
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
/* End Position */
/* Start Font */
.txt-c {
  text-align: center;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-25 {
  font-size: 25px;
}
.fw-bold {
  font-weight: bold;
}
@media (max-width: 767px) {
  .txt-c-mobile {
    text-align: center;
  }
}
/* End Font */
/* Start Border */
.rad-6 {
  border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
}
.rad-half {
  border-radius: 50%;
}
.b-none {
  border: none;
}
.border-ccc {
  border: 1px solid #ccc;
}
.border-eee {
  border: 1px solid #eee;
}

/* End Border */
/* Start Width + Height */
.w-full {
  width: 100%;
}
.w-100 {
  width: 100px;
}
.w-fit {
  width: fit-content;
}
.h-full {
  height: 100%;
}
.h-100 {
  height: 100px;
}
/* End Width + Height */
/* Start Components */
.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-shape {
  padding: 10px 15px;
  border-radius: 6px;
  margin-right: 10px;

}
.bot-btn{
  bottom: -35px;
  position: relative;
}
/* End Components */
.expired {
  opacity: 0.6;
  background-color: #f0f0f0;
  cursor: not-allowed !important;
}

.time {
  color: red;
  position: relative;
  bottom: -10px;
  z-index: 10;
}
